<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }}</title>
    <link type="text/css" rel="stylesheet" href="./../assets/css/style.css">
</head>
<body>
    <h1>Zajęcia 21.02.2021</h1>
    <h2>Wprowadznie do NodeJS</h2>
    <h3>{{ pageTitle }}</h3>
    <h4>{{ text }}</h4>
    <form action="">
        <input type="text" id="source">
        <button id="add">Add</button>
        <p id="target"></p>
    </form>

    <script src="./../js/func.js"></script>
</body>
</html>